{% extends 'nav.html' %}
{% block title %}
AiSpacEx Set Password
{% endblock title %}
{% block style %}
<style>
.btn{
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #3498db;
    border: 2px solid #3498db;
}
.btn:hover{
    background-color: black;
    color: white;
}
</style>
{% endblock style %}
{% block body %}
<section id="contact" class="contact">
    <div class="container">
        <div class="section-title" data-aos="fade-up">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <h1 data-aos="fade-up">Set New PassWord</h1>
                    <div class="container" data-aos="fade-up" data-aos-delay="350">
                    </div>
                    {% for message in messages %}
                    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                        <strong></strong> {{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                    <form action="{% url 'set-new-password' uidb64 token %}" method="post">
                        {% csrf_token %}
                        <br>
                        <label for="pass1">PassWord</label>
                        <div class="form-group">
                            <input type="password" class="form-control" id="pass1" name="pass1" required >
                        </div>
                        <label for="pass2">Confirm PassWord</label>
                        <div class="form-group">
                            <input type="password" class="form-control" id="pass2" name="pass2" required >
                        </div>
                        <br>
                        <button type="submit" class="btn">Submit</button>
                        <hr>
                         <a href="/EComAuth/login/">Go back?</a>
                        <br>
                    </form>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}